body {
  background: $white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Arial", sans-serif;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 982px;
  background: radial-gradient(closest-side at 50% 55%, #2B200A, $brown);
  width: 100%;
  height: 100vh;
}